%YAML 1.1
---
# Suricata configuration

vars:
  address-groups:
    HOME_NET: "[{{ suricata_home_net }}]"
    EXTERNAL_NET: "!$HOME_NET"

# Logging
outputs:
  - fast:
      enabled: yes
      filename: fast.log
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert:
            tagged-packets: yes
        - http:
            extended: yes
        - dns:
            version: 2
        - tls:
            extended: yes
        - files:
            force-magic: yes
        - smtp:
        - ssh:
        - flow:
        - stats:
            totals: yes
            threads: yes

# AF_PACKET capture
af-packet:
  - interface: {{ capture_interface }}
    cluster-id: 99
    cluster-type: cluster_flow
    defrag: yes
    use-mmap: yes
    tpacket-v3: yes

# Performance tuning
threading:
  set-cpu-affinity: no
  detect-thread-ratio: 1.0

# Rule files
default-rule-path: /var/lib/suricata/rules
rule-files:
  - suricata.rules

# Classification and reference files
classification-file: /etc/suricata/classification.config
reference-config-file: /etc/suricata/reference.config
